* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #111;
    color: #fff;
}

/* kontener logowania */
.auth-container {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* karta */
.auth-card {
    background-color:  #020617;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

/* tytuł */
.auth-card h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #e11d48;
}

/* błędy */
.error-message {
    background-color: #2a0000;
    color: #ffb3b3;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
}

/* formularz */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #ccc;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #0f172a;
    color: #fff;
}

.form-group input:focus {
    outline: 2px solid #e11d48;
}

/* przycisk */
.btn {
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 15px;
}

.btn-primary {
    background-color: #e11d48;
    color: #fff;
    transition: background 0.3s;
}

.btn-primary:hover {
    background-color: #e11d48;
}

/* linki pod formularzem */
.auth-links {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.auth-links a {
    color: #e11d48;
    text-decoration: none;
}

.auth-links a:hover {
    text-decoration: underline;
}
p{
    text-align: center;
    margin-top: 5px;
}
.success{
    color: rgb(10, 199, 10);
}